.container__principal {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    background-color: var(--cor-branca);
}

.container__conteudo {
    margin: 0 5% 10% 5%;
}

.container__titulo {
    font-size: 2.5rem;
    font-weight: 700;
}

.container__texto {
    margin: 1.5rem 0;
}

.container__campo-texto {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
}

.container__campo-texto__texto {
    line-height: 1.7rem;
}


.formulario__campo {
    display: grid;
    margin-top: 2.5rem;
}

.formulario__campo__texto {
    font-weight: 700;
}

.formulario__campo__email {
    height: 60px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin: 10px 0;
    color: var(--cor-cinza-claro);
    border: 1px solid var(--cor-cinza-claro);
    padding-left: 20px;
    outline: none;
}

.mensagem-erro {
    color: var(--cor-primaria);
    margin-bottom: 25px;
    font-weight: 700;
}

.estado-de-erro {
    background-color: hsl(4, 76%, 92%);
    border: 2px solid var(--cor-primaria);
    color: var(--cor-primaria);
}

.estado-de-erro::placeholder {
    color: var(--cor-primaria);
}

.formulario__campo__email:focus {
    border: 2px solid var(--cor-secundaria);
}

.formulario__campo__email:focus::placeholder {
    color: var(--cor-secundaria);
}

.formulario__campo__botao {
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
    height: 60px;
    font-size: 1rem;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    border: none;
    cursor: pointer;
    box-shadow: 2px 9px 12px 4px rgba(0, 0, 0, 0.199);
    transition: 1.2s;
}

.formulario__campo__botao:hover {
    background: var(--cor-linear);
    box-shadow: 0px 9px 20px 4px hsla(4, 100%, 67%, 0.534);
}

.container__imagem {
    width: 100%;
}

@media screen and (min-width: 1440px) {
    body {
        padding: 14rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container__principal {
        border-radius: 25px;
        flex-direction: row;
        align-items: center;
        box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.377);
        padding: 20px 20px 20px 60px;
        gap: 3rem;
    }

    .container__conteudo {
        width: 50%;
        margin: 0;
    }

    .container__titulo {
        font-size: 3.5rem;
    }

    .container__campo-texto {
        gap: 0.5rem;
    }

    .container__conteudo-imagem {
        width: 50%;
    }

    .formulario__campo__email {
        margin: 10px 0;
    }
}